<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Brasileirão 2019</title>
	<meta charset="UTF-8">
	
	<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- Bootstrap -->
	
<style>
	
	body{
		font-family: calibri;
	}
	
	#table{
		border: 1px solid black;
	}
	
	.header{
		background: #269d28;
	}
	.brasileiraoHeader{
		color: #FFF;
		padding: 18px;
		font-size: 30px;
	}
	.classificacaoSuperior{
		color: #BDBDBD;
		font-size: 13px;
	}
</style>

</head>
<body>
	<!-- https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#template-layout -->
	<div th:insert="~{header :: cabecalho}"></div>
	
	<br/>
	
	<h2 align="center">Cadastre aqui a rodada do brasileirão 2019</h2>
	
	<br/>
		
		<form action="cadastrarJogo" method="POST">
		
		
			<div class="container">
			  
			  <div class="row">
			    <div class="col-4">
					
					<h4 align="center">1° Turno</h4>
					
					<span>Informe Qual Turno:</span>
					<input type="text" name="turno" class="form-control">
					
					<br/>
					
					<span>Informe qual o n° da rodada:</span>
					<input type="text" name="rodada" class="form-control">
					
					<br/>
					
					<span>Vencedor da partida</span>
					<select name="vencedor" class="form-control" >
						<option value="">Selecione o Vencedor</option>
						<option value="99">------------------------ EMPATE ------------------------</option>
						<option th:each="clube : ${clubes}"
			                th:value="${clube.id}"
			                th:text="${clube.nome}" />
					</select>
	
			    </div>
			    <div class="col-4">
			    
			    	<h4 align="center">Clube Mandante</h4>
			      
					<span>Informe o Clube Mandante: </span>
					<select name="idMandante" class="form-control" >
						<option value="">Selecione Clube Mandante</option>
						<option th:each="clube : ${clubes}"
			                th:value="${clube.id}"
			                th:text="${clube.nome}" />
					</select>
					
					<br/>
					
					<span>Quantidade de Gols - Mandante</span>
					<input type="text" name="mandanteGols" class="form-control">
					
					<br/>
					
					<span>Campo do Jogo</span>
					<select name="campoMandante" class="form-control" >
						<option value="">Selecione o Campo do Jogo</option>
						<option th:each="clube : ${clubes}"
			                th:value="${clube.id}"
			                th:text="${clube.campo}" />
					</select>
					
	
			    </div>
			    <div class="col">
			    
			    	<h4 align="center">Clube Visitante</h4>
			    								
					<span>Informe o Clube Visitante: </span>
					<select name="idVisitante" class="form-control" >
						<option value="">Selecione Clube Visitante</option>
						<option th:each="clube : ${clubes}"
			                th:value="${clube.id}"
			                th:text="${clube.nome}" />
					</select>
					
					<br/>
					
					<span>Quantidade de Gols - Visitante</span>
					<input type="text" name="visitanteGols" class="form-control">		     
	
			    </div>
			  </div>
			  
			  <br/>
			  
			  	<center>
					<input type="submit" value="Confirmar Partida" class="btn btn-primary" title="As informações estão certas?">
				</center>  
			  
			</div>
		</form>
		
		
	
	
</body>
</html>