<!-- 
	http://www.ciceroednilson.com.br/criando-uma-aplicacao-web-com-spring-boot-thymeleaf-material-designer-lite-e-oracle-parte-5-criando-layout-com-thymeleaf/
 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
  <body>
  
    <div th:fragment="cabecalho">
    	<div class="header">
    		<h1 align="center" class="brasileiraoHeader">BRASILEIRÃO SÉRIE A</h1>
    	</div>
      <!-- &copy; 2011 The Good Thymes Virtual Grocery -->
    </div>
  
  </body>
  
</html>