<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Brasileirão 2019</title>
	<meta charset="UTF-8">
	
	<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- Bootstrap -->
	
<style>	
	body{
		font-family: calibri;
	}
	
	#table{
		border: 1px solid black;
	}
	
	.header{
		background: #269d28;
	}
	.brasileiraoHeader{
		color: #FFF;
		padding: 18px;
		font-size: 30px;
	}
	.classificacaoSuperior{
		color: #BDBDBD;
		font-size: 13px;
	}
</style>

</head>
	
	<div th:insert="~{header :: cabecalho}"></div>

<body>
	
	<br/>
	
	<h3 align="center">Página de cadastro de clubes da série A</h3>
	
	<br/>
	
	<div class="container">

	  <div class="row">
	    <div class="col-3">
	<!-- 
	private String nomeClube;	
	private String pontos;
	private String jogos;
	private String vitoria;
	private String empate;
	private String derrota;
	private String golsPro;
	private String golsContra;
	private String saldoGol;
	private String porcentagem;
	-->
	    
	    	
	    	<form method="POST" action="/saveClube">
	    		Nome do Clube:
	      		<input type="text" name="nomeClube" class="form-control">
	      		
	      		<input type="hidden" value="0" name="pontos">
	      		<input type="hidden" value="0" name="jogos">
	      		<input type="hidden" value="0" name="vitorias">
	      		<input type="hidden" value="0" name="empates">
	      		<input type="hidden" value="0" name="derrotas">
	      		<input type="hidden" value="0" name="golsPro">
	      		<input type="hidden" value="0" name="golsContra">
	      		<input type="hidden" value="0" name="saldoGol">
	      		<input type="hidden" value="0" name="porcentagem">
	    		<br/>
	    		<input type="submit" value="Cadastrar Clube" class="btn btn btn-primary btn-block btn-sm">
	    	</form>
	      
	    </div>
	    <div class="col-5">
	      
	    </div>
	    <div class="col">
	      
	    </div>
	  </div>
	  
	</div>
	
	
</body>

</html>